* {
    box-sizing: border-box;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.title {
    font-size: 10vmin;
}

.startModal {
    position: fixed;
    height: 70%;
    width: 50%;
    left: 25%;
    top: 15%;
    text-align: center;
    border-radius: 10%;
    (157, 157, 157, 0.8);
    z-index: 1;
    color: white;
    box-shadow:
            2px 11px 8px -10px rgba(255,255,255,1),
            2px -11px 8px -10px rgba(255,255,255,1);
    overflow: auto;
}

.startModalTitle {
    display: inline-block;
    position: relative;
    top: 1vh;
    font-size: 8vmin;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.startModalP1, .startModalP2, .startModalP3 {
    display: inline-block;
    position: relative;
    font-size: 4vmin;
    top: 6vmin;
    margin: 2%;
}

.mainDisplayDiv {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("images/starfield.png");
    background-position: center;
    /*background-size: cover;*/
}

.footer {
    display: inherit;
    position: relative;
    height: 15%;
    width: 100%
}

.sunDiv {
    text-align: center;
    display: inherit;
    position: absolute;
    height: 72%;
    width: 37%;
    top: 69%;
    background-repeat: no-repeat;
    background-image: url("images/sunImage2.png");
    background-size: contain;
    cursor: pointer;
    border: none;
    left:-10%;

}

.mercuryDiv {
    text-align: center;
    position: absolute;
    height: 13%;
    width: 10%;
    top: 60%;
    right: 75%;
    cursor: pointer;
    background-image: url(images/mercuryImage2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


.venusDiv {
    text-align: center;
    background-size: contain;
    position: absolute;
    height: 19%;
    width: 10%;
    border-radius: 50%;
    top: 34%;
    left: 22%;
    cursor: pointer;
    background-image: url(images/venuscheck.png);
    background-position: center;
    background-repeat: no-repeat;
}

.earthDiv {
    text-align: center;
    position: absolute;
    height: 24%;
    width: 9%;
    border-radius: 50%;
    left: 33%;
    bottom: 26%;
    cursor: pointer;
    background-image: url(images/earthImage2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.marsDiv {
    text-align: center;
    position: absolute;
    height: 13%;
    width: 7%;
    top: 44%;
    right: 47%;
    cursor: pointer;
    background-image: url("images/marsImage.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}

.jupiterDiv {
    display: inherit;
    position: absolute;
    height: 30%;
    width: 22%;
    left: 50%;
    top: 15%;
    text-align: center;
    cursor: pointer;
    background-image: url(images/jupiterImage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.saturnDiv {
    text-align: center;
    display: inherit;
    position: absolute;
    height: 22%;
    width: 27%;
    top: 57%;
    left: 65%;
    cursor: pointer;
    background-image: url(images/saturnImage2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.uranusDiv {
    text-align: center;
    display: inherit;
    position: absolute;
    height: 15%;
    width: 8%;
    right: 13%;
    top: 23%;
    cursor: pointer;
    background-image: url(images/uranusImage2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.neptuneDiv {
    text-align: center;
    position: absolute;
    height: 15%;
    width: 8%;
    right: 6%;
    border-radius: 50%;
    top: 4%;
    cursor: pointer;
    background-image: url(images/neptuneImage2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clickable{
    border: 1px solid lime;
    cursor: pointer;
}

.displayModal {
    overflow: auto;
    display: none;
    position: absolute;
    height: 70%;
    width: 50%;
    (157, 157, 157, 0.51);
    z-index: 10;
    bottom: 15%;
    border-radius: 15%;
    left: 25%;
    color: white;
    box-shadow:
            2px 11px 8px -10px rgba(255,255,255,1),
            2px -11px 8px -10px rgba(255,255,255,1);
}

.modalTitle {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 15%;
    width: 100%;
    font-size: 7vmin;
}

.modalControls {
    display: inline-block;
    position: relative;
    height: 15%;
    width: 100%;
    top: 69%;

}

.contentDiv {
    position: relative;
    background-color: rgba(0,0,0,.9);
    height: 70%;
    width: 100%;
    (0,0,0,.8);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2), 0 6px 20px 0 rgba(255,255,255, 0.19);
    user-select:none;
}

.buttons:focus {
    outline: none;
}

.changeText{
    overflow: auto;
    font-size:3vh;
}


.buttons {
    position: relative;
    display: inline-block;
    font-size: 2vmin;
    margin: 0 1vmin;
    height: 50%;
    width: 25%;
    left: 10%;
    top: 25%;
    border-radius: 50%;
    cursor: pointer;
    user-select:none;
}

.closeButton {
    display: inline-block;
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    border: solid black;
    font-size: 2.5vmin;
    font-weight: bold;
    position: relative;
    left: 17%;
    bottom: 30%;
    cursor: pointer;
}

#imageCarousel {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.shadowDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}


html, body {
    margin:0; overflow:hidden;
}

img {
    width: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.carouselContainer {
     position: relative;
     height: 100%;
     width: 100%;
 }

.carouselImages {
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;

}

.hide{
    display:none;
}

.currentImage{
    display:block;
}


.loader{
    border: 6px solid #3498db;
    border-top: 6px solid darkblue;
    border-bottom: 6px solid darkblue;
    border-radius: 50%;
    width: 6vmin;
    height: 6vmin;
    animation: spin 0.5s linear infinite;
    position: relative;
    top:42.5%;
    left:45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(45deg);}
    50% { transform: rotate(105deg);}
    75% { transform: rotate(220deg);}
    100% { transform: rotate(360deg);}
}

.container {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

/*.a {*/
    /*transform: rotateY(0deg) translateZ(250px);*/
    /*background: #ed1c24;*/
/*}*/
/*.b {*/
    /*transform: rotateY(60deg) translateZ(250px);*/
    /*background: #0072bc;*/
/*}*/
/*.c {*/
    /*transform: rotateY(120deg) translateZ(250px);*/
    /*background: #39b54a;*/
/*}*/
/*.d {*/
    /*transform: rotateY(180deg) translateZ(250px);*/
    /*background: #f26522;*/
/*}*/
/*.e {*/
    /*transform: rotateY(240deg) translateZ(250px);*/
    /*background: #630460;*/
/*}*/
/*.f {*/
    /*transform: rotateY(300deg) translateZ(250px);*/
    /*background: #8c6239;*/
/*}*/

/*.next, .prev {*/
    /*color: #444;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*padding: 1em 2em;*/
    /*cursor: pointer;*/
    /*background: #CCC;*/
    /*border-radius: 5px;*/
    /*border-top: 1px solid #FFF;*/
    /*box-shadow: 0 5px 0 #999;*/
    /*transition: box-shadow 0.1s, top 0.1s;*/
/*}*/
/*.next:hover, .prev:hover { color: #000; }*/
/*.next:active, .prev:active {*/
    /*top: 104px;*/
    /*box-shadow: 0 1px 0 #999;*/
/*}*/
/*.next { right: 5em; }*/
/*.prev { left: 5em; }*/
/*!*end of video carousel*!*/

.videoList {
    display: table-cell;
    list-style-type: none;
    /*display: inline-block;*/
    margin: 0 1%;
    position: relative;
    border-radius: 15%;
    top: 20%;
    font-size: 2.75vmin;
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2), 0 6px 20px 0 rgba(255,255,255, 0.19);
    (0,255,0,0.3);
    height: 50%;
    width: 25%;
    cursor: pointer;
    vertical-align: middle;
    user-select:none;
}

ul {
    display: table;
    height: 20%;
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    line-height: 100%;
}

.videoPlayer {
    display: block;
    margin: auto;
    height: 76%;
    width: 100%;
}

.text-overlay-div {
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 15%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    (0,0,0,.8);
    text-align: center;
    font-size: 3vmin;
}

.text-overlay-div > span {
    display:block;
    user-select:none;
}

.jupiterDiv:hover{
    height:32%;
    width:24%;
}

.neptuneDiv:hover{
    height:17%;
    width:10%;
}

.uranusDiv:hover{
    height:17%;
    width:10%;
}

.marsDiv:hover{
    height:15%;
    width:9%;
}

.earthDiv:hover{
    height:26%;
    width:11%;
}

.mercuryDiv:hover{
    height:15%;
    width:12%;
}

.venusDiv:hover{
    height:21%;
    width:12%;
}

.sunDiv:hover{
    height:75%;
    width:40%;
}

.saturnDiv:hover{
    height:24%;
    width:29%;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

span{
    color:hotpink;
    font-size: 2.75vmin;
    }
.astronaut {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 1%;
}

.astronaut{
    animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  position:relative;
    top: 10vmin;
    left: 3vmin;
}

.removeMoveButton {
    display: inline-block;
    left: 3vmin;
    top: 5vmin;
    height: 5vmin;
    width: 10vmin;
    font-size: 1.5vmin;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.31);
    position: relative;
    cursor: pointer;
}

.startMoveButton {
    display: inline-block;
    left: 3vmin;
    top: 5vmin;
    height: 5vmin;
    width: 10vmin;
    font-size: 1.5vmin;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.31);
    position: relative;
    cursor: pointer;

}

.astronautAndButton {
    display: inline-block;
    position: relative;
    height: 10%;
    width: 25%;
}


@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }



.apologyDiv {
    text-align: center;
    height: 80%;
    width: 100%;
    top: 10%;
    position: relative;
}
.apologyDiv > span {
    display: block;
}

.apologyDiv > img {
    height: 25vh;
    width: 25vh;
    position: relative;
}

.apologyDiv, .apologyDiv > img, .apologyDiv > span {
    display: block;
    float: none;
}

.astronautMessage {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: fixed;
    height: 10vmin;
    width: 20vmin;
    top: 35vmin;
    left: 5vmin;
    font-size: 2vmin;
    background: rgba(185, 183, 187, 0.51);
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;

    border-radius: 15%;
    z-index: 2;
}

/*.astronautMessage:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 20px solid transparent;*/
    /*border-right-color: #00aabb;*/
    /*border-left: 0;*/
    /*border-bottom: 0;*/
    /*margin-top: -10px;*/
    /*margin-left: -20px;*/
/*}*/