* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {

    font-size: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;

}

.header {
    display: inherit;
    position: relative;
    text-align: center;
    height: 15%;
    width: 100%;

}
.title {
    font-size: 10vmin;
}

.mainDisplayDiv {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 70%;
    width: 70%;
    left: 15%;
    background-image: url("images/starfield.png");
    background-position: center;
    background-size: cover;


}

.footer {
    display: inherit;
    position: relative;
    height: 15%;
    width: 100%
}

.sunDiv {
    display: inherit;
    position: relative;
    height: 72%;
    width: 37%;
    top: 48%;
    right: 13%;
    border-radius: 50%;
    background-color: yellow;
    background-image: url("images/editsun.jpg");
    background-position: center;
    background-size: cover;

    cursor: pointer;

}

.mercuryDiv {
    display: inherit;
    position: relative;
    height: 10%;
    width: 6%;
    border-radius: 50%;
    top: 3%;
    right: 12%;
    background-color: #6a6969;
    cursor: pointer;
    background-image: url("images/mercury-edit.jpg");
    background-position: center;
    background-size: cover;

}


.venusDiv {
    display: inherit;
    position: relative;
    height: 12%;
    width: 7%;
    border-radius: 50%;
    top: 8%;
    right: 8%;
    background-color: greenyellow;
    cursor: pointer;
    background-image: url("images/venus-background.jpg");
    background-position: center;
    background-size: cover;


}

.earthDiv {
    display: inherit;
    position: relative;
    height: 13%;
    width: 7%;
    border-radius: 50%;
    left: -9%;
    bottom: 20%;
    background-color: #66afe9;
    cursor: pointer;
    background-image: url("images/earth-background.jpg");
    background-position: center;
    background-size: cover;

}


.marsDiv {
    display: inherit;
    position: relative;
    height: 9%;
    width: 5%;
    top: 6%;
    right: 4%;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("images/mars-background.jpg");
    background-position: center;
    background-size: cover;

}

.jupiterDiv {
    display: inherit;
    position: relative;
    height: 28%;
    width: 16%;
    background-color: orange;
    left: -6%;
    border-radius: 50%;
    bottom: 35%;
    cursor: pointer;
    background-image: url("images/jupiter-background.jpg");
    background-position: center;
    background-size: cover;

}

.saturnDiv {
    display: inherit;
    position: relative;
    height: 22%;
    width: 18%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("images/saturn-vector.png");
    background-position: center;
    background-size: cover;

}

.uranusDiv {
    display: inherit;
    position: relative;
    height: 15%;
    width: 8%;
    left: 82%;
    bottom: 69%;
    border-radius: 50%;
    background-color: darkgray;
    cursor: pointer;
    background-image: url("images/uranus-background.jpg");
    background-position: center;
    background-size: cover;

}

.neptuneDiv {
    display: inherit;
    position: relative;
    height: 15%;
    width: 8%;
    left: 83.5%;
    border-radius: 50%;
    background-color: lightblue;
    bottom:53%;
    cursor: pointer;
    background-image: url("images/neptune-background.jpg");
    background-position: center;
    background-size: cover;

}

/*.modalShadow{*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*background-color: rgba(0,0,0,.4);*/
    /*display: none;*/
/*}*/
/*.modalBody{*/
    /*position: fixed;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*padding: 20px;*/
    /*background-color: white;*/
/*}*/
.clickable{
    border: 1px solid lime;
    cursor: pointer;
}

.displayModal {
    overflow: hidden;
    display: none;
    position: absolute;
    height: 70%;
    width: 50%;
    background-color: rgba(157, 157, 157, 0.51);
    z-index: 10;
    bottom: 15%;
    border-radius: 15%;
    left: 25%;
}
.modalTitle {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 15%;
    width: 100%;
    font-size: 7vmin;
}

.modalControls {
    display: inline-block;
    position: relative;
    height: 15%;
    width: 100%;
    top: 69%;

}

.buttons:focus {
    outline: none;
}

.buttons {
    position: relative;
    display: inline-block;
    font-size: 2vmin;
    height: 50%;
    width: 25%;
    left: 12%;
    top: 25%;
    border-radius: 50%;
    cursor: pointer;
}

